@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

/* Base Config */
body {
    font-family: 'Outfit', sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
    overflow-x: hidden;
}

/* Custom Scrollbar (Chrome/Safari/Edge) */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: #0f0f0f; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #e50914; }

/* Hide Scrollbar but keep functionality (for swiper containers) */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Text Clamp (Potong teks panjang) */
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Glassmorphism Utilities */
.glass {
    background: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

/* Video Player Range Input Reset */
input[type=range] {
    -webkit-appearance: none; background: transparent; cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; height: 12px; width: 12px;
    border-radius: 50%; background: #e50914; margin-top: -4px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%; height: 4px; background: #444; border-radius: 2px;
}
